<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script> 
</head>
<body>



<div id="app1">
<select v-model="selectedKey">
	<option v-for="k in keys" :value="k">{{k.key}}</option>
	</select>
<input type="text" v-model="i" style="width: 20em;"><br/>
Length: {{l}}	
Selected key: {{selectedKey}}
</div>
<script language=s""javascript">

let i="";
let keys=[
	{"key":"GTIN-14","offset":1},
	{"key":"GTIN-13","offset":0},
	{"key":"GTIN-12","offset":0},
	{"key":"SSCC","offset":1},
	{"key":"GLN","offset":0},
	{"key":"CPID","offset":0},
	{"key":"GCN","offset":0},
	{"key":"GDTI","offset":0},
	{"key":"GIAI","offset":0},
	{"key":"GINC","offset":0},
	{"key":"GMN","offset":0},
	{"key":"GRAI","offset":1},
	{"key":"GSIN","offset":0},
	{"key":"GSRN-P","offset":0},
	{"key":"GSRN","offset":0},
	{"key":"ITIP","offset":1}
];


function findMatch(v) {
    return function(element) {
        return v.indexOf(element.prefix) == 0;
    }
}
			      
			      
selectedKey="";

  	var app1 = new Vue({
		el: "#app1",
		data : {
			i: i,
			keys: keys,
			selectedKey : selectedKey,
			jsondata : []
		}, 
		computed: {
			l: function() {
				let rv="";
				if (this.i !== "") {
					let e=this.jsondata.GCPPrefixFormatList.entry.filter(findMatch(this.i));
					if (e.length == 1) {
						rv=e[0].gcpLength;
					} else {
						rv="";
					}
				}
				return rv;
			}
		},
		mounted() {
			var self = this;
			axios.get("./gcpprefixformatlist.json").then(response => {this.jsondata = response.data; console.log("response="+JSON.stringify(response))});
		}
  	});



</script>


</body>
</html>
