<!DOCTYPE html>
<html>
<head>
<!---  scripts  --->	
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script> 
</head>
<body>



<div id="app1">
<select v-model="selectedKey">
	<option v-for="k in keys" :value="k.key">{{k.key}}</option>
</select>
<input type="text" v-model="i" style="width: 20em;"><span v-if="i.length < minLength">{{minLength}} digits required</span><br/>
<br/>
GS1 Company Prefix: {{gcp}}  GCP Length={{l}}
</div>
	<!--- script   --->
<script language="javascript">

let i="";
let keys=[
	{"key":"GTIN-14","offset":1,"minLength":14,"leftPad":"","checkDigitPos":"L"},
	{"key":"GTIN-13","offset":0,"minLength":13,"leftPad":"","checkDigitPos":"L"},
	{"key":"GTIN-12","offset":0,"minLength":12,"leftPad":"0","checkDigitPos":"L"},
	{"key":"SSCC","offset":1,"minLength":18,"leftPad":"","checkDigitPos":"L"},
	{"key":"GLN","offset":0,"minLength":13,"leftPad":"","checkDigitPos":"L"},
	{"key":"CPID","offset":0,"minLength":6,"leftPad":"","checkDigitPos":""},
	{"key":"GCN","offset":0,"minLength":13,"leftPad":"","checkDigitPos":"13"},
	{"key":"GDTI","offset":0,"minLength":13,"leftPad":"","checkDigitPos":"13"},
	{"key":"GIAI","offset":0,"minLength":17,"leftPad":"","checkDigitPos":""},
	{"key":"GINC","offset":0,"minLength":6,"leftPad":"","checkDigitPos":""},
	{"key":"GMN","offset":0,"minLength":6,"leftPad":"","checkDigitPos":""},
	{"key":"GRAI","offset":1,"minLength":14,"leftPad":"","checkDigitPos":"14"},
	{"key":"GSIN","offset":0,"minLength":17,"leftPad":"","checkDigitPos":"17"},
	{"key":"GSRN-P","offset":0,"minLength":18,"leftPad":"","checkDigitPos":"18"},
	{"key":"GSRN","offset":0,"minLength":18,"leftPad":"","checkDigitPos":"18"},
	{"key":"ITIP","offset":1,"minLength":18,"leftPad":"","checkDigitPos":"14"}
];

let offsets={};
let minLengths={};
let leftPads={};
let checkDigitPositions={};

keys.forEach(function(k){
	offsets[k.key]=k.offset;
	minLengths[k.key]=k.minLength;
	leftPads[k.key]=k.leftPad;
	checkDigitPositions[k.key]=k.checkDigitPos;
});


function findMatch(v) {
    return function(element) {
        return v.indexOf(element.prefix) == 0;
    }
}
			      
			      
selectedKey=keys[0].key;

  	var app1 = new Vue({
		el: "#app1",
		data : {
			i: i,
			keys: keys,
			selectedKey : selectedKey,
			offsets: offsets,
			minLengths: minLengths,
			leftPads: leftPads,
			checkDigitPositions: checkDigitPositions,
			jsondata : []
		}, 
		computed: {
			v: function() {
				let rv="";
				if ((this.i !== "") && (this.offset !== "")) {
					rv=this.leftPad+this.i.substr(parseInt(this.offset));
				}
				return rv;
			},
			l: function() {
				let rv="";
				if (this.v !== "") {
					let e=this.jsondata.GCPPrefixFormatList.entry.filter(findMatch(this.v));
					if (e.length == 1) {
						rv=e[0].gcpLength;
					} else {
						rv="";
					}
				}
				return rv;
			},
			offset: function() {
				let rv="";
				if (this.selectedKey !== "") {
					rv=this.offsets[this.selectedKey];
				} else {
					rv="";
				}
				return rv;
			},
			minLength: function() {
				let rv="";
				if (this.selectedKey !== "") {
					rv=this.minLengths[this.selectedKey];
				} else {
					rv="";
				}
				return rv;
			},
			leftPad: function() {
				let rv="";
				if (this.selectedKey !== "") {
					rv=this.leftPads[this.selectedKey];
				} else {
					rv="";
				}
				return rv;
			},
			checkDigitPos: function() {
				let rv="";
				if (this.selectedKey !== "") {
					rv=this.checkDigitPositions[this.selectedKey];
				} else {
					rv="";
				}
				return rv;
			},
			gcp: function() {
				let rv="";
				if ((this.v !== "") &&  (this.l !== "") && (this.i.length  >= this.minLength)) {
					rv=this.v.substr(0, parseInt(this.l));
				} else {
					rv="";
				}
				return rv;
			}
		},
		mounted() {
			var self = this;
			axios.get("./gcpprefixformatlist.json").then(response => {this.jsondata = response.data; });
		}
  	});



</script>


</body>
</html>
